.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  .card-link {
    margin-top: auto;
  }